/* PJMASKS MEMOTEST CSS */

/*
	#027bc4 Catboy 2 123 196
	#29a63a Gekko	41 166 58
	#e51b28 Owlette	229 27 40
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
}

header {
	background-color: white;
	text-align: center;
	padding: 5vh 0;
}

main {
	min-height: 800px;
	min-width: 800px;
	margin: 0 auto;
}

#scoreboard {
	display: flex;
	justify-content: space-evenly;
	font-size: 5vh;
	background-color: rgb(41,166,58);
	text-align: center;
	border: 2px dotted rgba(229,27,40,.9);
	border-right: none;
	border-left: none;
	padding: 30px 0;
	margin-bottom: 30px;
}

#controls {
	margin-top: 4vh;
}

.btn {
	border: 1px solid black;
	border-radius: 10px;
}

#tileDisplay {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	
}

#tileCol {
	/*background-color: rgb(41,166,58);*/
	display: flex;
	flex-direction: row;
}

.tile {
	min-height: 150px;
	min-width: 150px;
	border: 1px solid rgba(229,27,40,.9);
	border-radius:2px;
	margin: 2px;
}

.empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	border: 3px double black;
	background-color: orange;
	background-image: url(images/pj_masks_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	overflow: hidden;
}

.empty p {
	box-sizing: border-box;
}

/* This are the different characters we have to pair */
.catboy {
	background-image: url(images/pj-wings.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.owlette {
	background: url(images/character-owlette.png) no-repeat;
	background-size: cover;
}

.gekko {
	background: url(images/character-gekko.png) no-repeat;
	background-size: cover;
}

.romeo {
	background: url(images/character-romeo.png) no-repeat;
	background-size: cover;
}

.lunagirl {
	background: url(images/character-luna-girl.png) no-repeat;
	background-size: cover;
}

.nightninja {
	background: url(images/character-night-ninja.png) no-repeat;
	background-size: cover;
}

.pjrobot {
	background: url(images/character-pj-robot.png) no-repeat;
	background-size: cover;
}

.wolfykids {
	background: url(images/character-wolfy-kids.png) no-repeat;
	background-size: cover;
}

.anyu {
	background: url(images/character-anyu.png) no-repeat;
	background-size: cover;
}

.motsuki {
	background: url(images/character-motsuki.png) no-repeat;
	background-size: cover;
}

.splatmonster {
	background: url(images/character-splat-monster.png) no-repeat;
	background-size: cover;
}

.armadylan {
	background: url(images/character-armadylan.png) no-repeat;
	background-size: cover;
}

/* Classes for game development */
.revealed {
	
}

.unrevealed {
	background-color: #9ffd9f;
	background-image: url(images/catboy-mask.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}

.selected {

}

.correct {
	pointer-events: none;
	filter: grayscale(50%);
	background-color: lightgrey;
}

.clickGetter {
	pointer-events: none;
}

.winDiv {
	background-color: antiquewhite;
	border-radius: 10px;
	position: fixed;
	left: 40%;
	top: 40%;
	height: 20%;
	width: 20%;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}